.game-body {
  background: #2b1a4259;
  /* height: 100vh; */
  border: 5px solid black;
  position: relative;
}
.game-status {
  height: 80px;
}
.card-body {
  height: 635px;
  background: #dbd7d7;

  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-deck-box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  /* border: 5px solid black; */
}

.card-deck {
  height: 360px;
  width: 250px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(146, 79, 79, 0.35);
  cursor: pointer;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-count-box {
  height: 100px;
  width: 300px;
  border: 5px solid black;
  margin-top: 35px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

h5 {
  margin-left: 70px;
  font-size: 20px;
}

.winning {
  margin-top: -10px;
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: bold;
}

.loosing {
  margin-top: -10px;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.restart {
  margin-top: -10px;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}

.score-board {
  font-size: 30px;
  color: rgb(22, 21, 21);
  display: flex;
  justify-content: end;
  margin-top: -15px;
  margin-right: 20px;
  font-weight: bold;
}

.score {
  font-size: 30px;
  color: rgb(22, 21, 21);
  display: flex;
  justify-content: end;
  margin-top: -35px;
  margin-right: 20px;
  font-weight: bold;
}

.exit-game {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 150px;
  height: 55px;
  font-size: 20px;
  --c: #e22d2d; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  font-family: system-ui, sans-serif;
  /* font-size: 30px; */
  cursor: pointer;
  padding: 0.4em 1.3em;
  font-weight: bold;
  border: none;
}

.exit-game:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: white;
}

.exit-game:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
